$main-font: "Sans serif", cursive;


/* COLOR CUBE */

$white-cube-color: #fff;
$black-cube-color: #010101;
$tundora-cube-color: #424242;
$gunsmoke-cube-color: #858786;
$ecstacy-cube-color: #f76210;
$golden-cube-color: #efd43f;
$mint-cube-color: #95f1be;
$turquose-cube-color: #30cfc3;
$blue-cube-color: #223bcb;
$lima-cube-color: #78e733;


/* MEDIAN CUT */

$gray-median-color: #e3e4e2;
$black-median-color: #1b1c1d;
$spicy-median-color: #875f4a;
$sundance-median-color: #c8af56;
$puerto-median-color: #38c3a0;





/* MATERIAL DESIGN */
$tango-material-color: #eb621f;
$flax-material-color: #7e876a;
$blue-material-color: #2455b0;
$nandor-material-color: #495653;
$starship-material-color: #ece046;


/* BUTTONS */
.orangeBtn {
    background-color: $ecstacy-cube-color;
    color: white;
    border: none;
    padding: 10px;
    max-width: 240px;
    max-height: 44px;
}